<div class=" col mb-5 mt-5 flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="card-img-top front">
      <img src="https://images.educamaisbrasil.com.br/content/noticias/quem-faz-analise-de-sistemas-e-programador_g.jpg"
        alt="">
    </div>
    <div class="back">
      <div class="card-body filho">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-primary btn-sm">Editar</button>
        <button type="button" class="btn btn-outline-secondary  btn-sm">Excluir</button>
      </div>
    </div>
  </div>
</div>

<div class=" col mb-5 mt-5 flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="card-img-top front">
      <img src="https://images.educamaisbrasil.com.br/content/noticias/quem-faz-analise-de-sistemas-e-programador_g.jpg"
        alt="">
    </div>
    <div class="back">
      <div class="card-body filho">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-primary btn-sm">Editar</button>
        <button type="button" class="btn btn-outline-secondary  btn-sm">Excluir</button>
      </div>
    </div>
  </div>
</div>

<div class=" col mb-5 mt-5 flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="card-img-top front">
      <img src="https://images.educamaisbrasil.com.br/content/noticias/quem-faz-analise-de-sistemas-e-programador_g.jpg"
        alt="">
    </div>
    <div class="back">
      <div class="card-body filho">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-primary btn-sm">Editar</button>
        <button type="button" class="btn btn-outline-secondary  btn-sm">Excluir</button>
      </div>
    </div>
  </div>
</div>
<div class=" col mb-5 mt-5 flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="card-img-top front">
      <img src="https://images.educamaisbrasil.com.br/content/noticias/quem-faz-analise-de-sistemas-e-programador_g.jpg"
        alt="">
    </div>
    <div class="back">
      <div class="card-body filho">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-primary btn-sm">Editar</button>
        <button type="button" class="btn btn-outline-secondary  btn-sm">Excluir</button>
      </div>
    </div>
  </div>
</div>